*{
	margin: 0;
	padding: 0;
} 
 
.main{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(images/banner2.jpg);
	background-size: cover; 
	background-position: center;
	position: relative;
	min-height: 50px;
    overflow-x: scroll;
}

.navbar{
	width: 2400px;
	height: 90px;
	margin: auto;
}

.icon{
	width: 200px;
	float: left;
	height:90px
}

.logo{
	color: #ff7200;
	font-family: 'Times New Roman';
    padding-left: 20px;
    float: left;
    padding-top: 10px;	
	font-size: 50px;
}

.menu{
    width: 2200px;  
	float: left;
	height: 90px;
}

.menu ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu ul li{
	list-style: none;
	margin-left: 100px;
	margin-top: 27px;
	font-size: 14px;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Times New Roman';
	font-weight: bold;
	transition: 0.4s ease-in-out;
    font-size: 20px;
}

.menu ul li a:hover{
	color: #ff7200;
}

.content{
	width:1200px;
	height: auto;
	margin: auto;
	color:#fff;
	position: relative;
}

.content h1{
	font-family: 'Times New Romam';
	font-size: 3em;
	padding-left: 200px;
	margin-top: 7%;
	letter-spacing: 5px;
	backdrop-filter: blur(5px);
    background: transparent;
    color: #ff7200;
}

.content h2{
	font-family: 'Times New Romam';
	font-size: 30px;
	padding-left: 1px;
	margin-top: 3%;
	letter-spacing: 5px;
	backdrop-filter: blur(10px);
    background: transparent;
}

.content ul{
	backdrop-filter: blur(5px);
    background: transparent;
	width: 100%;
	font-family: 'Times New Romam';
	font-size: 20px;
	padding-left: 20px;
	margin-top: 3%;
	letter-spacing: 2.5px;
	position: relative;
	justify-content: center;
	flex-direction:column;
}

@media screen and (min-width: 1280px) {
  .main {
    overflow-x: hidden;
  }
}